@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background: #303030;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.title {
  padding: 40px;
  margin: 40px;
  background: #555555;
  border-radius: 16px;
  color: #ffffff;
  font-size: x-large;
  font-weight: 800;
}

.description {
  color: #888888;
  font-size: medium;
  font-weight: 500;
}

.appleProduct {
  margin: 20px auto;
  width: 400px;
  background: #444444;
  padding: 20px;
  border-radius: 16px;
}

.navBar {
  text-align: left;
  background: #ffffff;
  padding: 20px;
  color: #222222;
}

.navBar a {
  margin-right: 10px;
  text-decoration: none;
}

.appleProduct img {
  width: 400%;
  height: auto;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
}

.cart-item {
  padding: 10px;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 
